footer
  .container.text-center
    hr
    
    ul.float-left.list-inline
      li
        a © 2019 Ryan Lee
        
   
    a.float-right(href='https://ko-fi.com/N4N614M34', target='_blank')
     img.float-right(style='border:0px;height:36px;', src='https://az743702.vo.msecnd.net/cdn/kofi2.png?v=2', alt='Buy Me a Coffee at ko-fi.com', height='36', border='0')
