extends layout



block content

  h1 jazz-lib
  h5 A search tool for Discogs' jazz records 
  hr
  p.lead 
  .row
    .col-md-12
      a(href="/years" style="font-size:22px") Begin Search
         

    



