extends layout



block content
  hr
  p.lead 
  .row
    .col-md-12
        a(href="/years" style="font-size:20px") Begin Search
        p
        hr
        h5 Usage
        a
          | Narrow search by year, country, label, and personnel. Then select an album to see its Discogs info.
        br
        a  
          | Click  
        a(style="color:blue") blue parameters 
        a to include in your search. 
        a(style="color:gray") Gray numbers 
        a represent parameter's album count.
        p(style="margin-top:8px")
          | Example:
          br
          b **To do an actual search, click 'Begin Search' above. Below is just a demo.
        

          p
          a(class="all-years" style="cursor:pointer;margin-left:40px") select all
          p(style="margin-left:40px")
              each val, index in yearsObj
                text(class="choose" style="color: #3644FF;cursor: pointer;")= index + ": "  
                text(style="color: #777777;")= val + ", "
    
          div(style="margin-left:40px")
            input(class="input" name="years" size="25")
            button(onclick="window.location.href = '/years';" class="btn-default" value="Next") Next
          button(class="btn-default" id="clear-me" style="cursor: pointer; margin-left:40px") Clear
        
        br
        h5 About
        a Here is the website's 
        a(href="https://github.com/savoy1211/jazz-lib-online") GitHub repository
        a . If you've found this site useful, please star the repo or 
        a(href="https://ko-fi.com/N4N614M34") buy me a coffee 
        a :)

         

    



